.mtk1.JSXElement.JSXIdentifier,
.mtk2.JSXElement.JSXIdentifier,
.mtk3.JSXElement.JSXIdentifier,
.mtk4.JSXElement.JSXIdentifier,
.mtk5.JSXElement.JSXIdentifier,
.mtk6.JSXElement.JSXIdentifier,
.mtk7.JSXElement.JSXIdentifier,
.mtk8.JSXElement.JSXIdentifier,
.mtk9.JSXElement.JSXIdentifier,
.mtk10.JSXElement.JSXIdentifier,
.mtk11.JSXElement.JSXIdentifier,
.mtk12.JSXElement.JSXIdentifier,
.mtk13.JSXElement.JSXIdentifier,
.mtk14.JSXElement.JSXIdentifier,
.mtk15.JSXElement.JSXIdentifier,
.mtk16.JSXElement.JSXIdentifier,
.mtk17.JSXElement.JSXIdentifier,
.mtk18.JSXElement.JSXIdentifier,
.mtk19.JSXElement.JSXIdentifier,
.mtk20.JSXElement.JSXIdentifier,
.mtk21.JSXElement.JSXIdentifier,
.mtk22.JSXElement.JSXIdentifier {
  color: #2d84cc;
}

.mtk1.JSXElement.JSXBracket,
.mtk2.JSXElement.JSXBracket,
.mtk3.JSXElement.JSXBracket,
.mtk4.JSXElement.JSXBracket,
.mtk5.JSXElement.JSXBracket,
.mtk6.JSXElement.JSXBracket,
.mtk7.JSXElement.JSXBracket,
.mtk8.JSXElement.JSXBracket,
.mtk9.JSXElement.JSXBracket,
.mtk10.JSXElement.JSXBracket,
.mtk11.JSXElement.JSXBracket,
.mtk12.JSXElement.JSXBracket,
.mtk13.JSXElement.JSXBracket,
.mtk14.JSXElement.JSXBracket,
.mtk15.JSXElement.JSXBracket,
.mtk16.JSXElement.JSXBracket,
.mtk17.JSXElement.JSXBracket,
.mtk18.JSXElement.JSXBracket,
.mtk19.JSXElement.JSXBracket,
.mtk20.JSXElement.JSXBracket,
.mtk21.JSXElement.JSXBracket,
.mtk22.JSXElement.JSXBracket {
  color: #787878;
}

.mtk1.JSXElement.JSXText,
.mtk2.JSXElement.JSXText,
.mtk3.JSXElement.JSXText,
.mtk4.JSXElement.JSXText,
.mtk5.JSXElement.JSXText,
.mtk6.JSXElement.JSXText,
.mtk7.JSXElement.JSXText,
.mtk8.JSXElement.JSXText,
.mtk9.JSXElement.JSXText,
.mtk10.JSXElement.JSXText,
.mtk11.JSXElement.JSXText,
.mtk12.JSXElement.JSXText,
.mtk13.JSXElement.JSXText,
.mtk14.JSXElement.JSXText,
.mtk15.JSXElement.JSXText,
.mtk16.JSXElement.JSXText,
.mtk17.JSXElement.JSXText,
.mtk18.JSXElement.JSXText,
.mtk19.JSXElement.JSXText,
.mtk20.JSXElement.JSXText,
.mtk21.JSXElement.JSXText,
.mtk22.JSXElement.JSXText {
  color: #c2c2c2;
}

.mtk1.JSXClosingFragment.JSXBracket,
.mtk2.JSXClosingFragment.JSXBracket,
.mtk3.JSXClosingFragment.JSXBracket,
.mtk4.JSXClosingFragment.JSXBracket,
.mtk5.JSXClosingFragment.JSXBracket,
.mtk6.JSXClosingFragment.JSXBracket,
.mtk7.JSXClosingFragment.JSXBracket,
.mtk8.JSXClosingFragment.JSXBracket,
.mtk9.JSXClosingFragment.JSXBracket,
.mtk10.JSXClosingFragment.JSXBracket,
.mtk11.JSXClosingFragment.JSXBracket,
.mtk12.JSXClosingFragment.JSXBracket,
.mtk13.JSXClosingFragment.JSXBracket,
.mtk14.JSXClosingFragment.JSXBracket,
.mtk15.JSXClosingFragment.JSXBracket,
.mtk16.JSXClosingFragment.JSXBracket,
.mtk17.JSXClosingFragment.JSXBracket,
.mtk18.JSXClosingFragment.JSXBracket,
.mtk19.JSXClosingFragment.JSXBracket,
.mtk20.JSXClosingFragment.JSXBracket,
.mtk21.JSXClosingFragment.JSXBracket,
.mtk22.JSXClosingFragment.JSXBracket {
  color: #787878;
  font-weight: normal;
}

.mtk1.JSXOpeningFragment.JSXBracket,
.mtk2.JSXOpeningFragment.JSXBracket,
.mtk3.JSXOpeningFragment.JSXBracket,
.mtk4.JSXOpeningFragment.JSXBracket,
.mtk5.JSXOpeningFragment.JSXBracket,
.mtk6.JSXOpeningFragment.JSXBracket,
.mtk7.JSXOpeningFragment.JSXBracket,
.mtk8.JSXOpeningFragment.JSXBracket,
.mtk9.JSXOpeningFragment.JSXBracket,
.mtk10.JSXOpeningFragment.JSXBracket,
.mtk11.JSXOpeningFragment.JSXBracket,
.mtk12.JSXOpeningFragment.JSXBracket,
.mtk13.JSXOpeningFragment.JSXBracket,
.mtk14.JSXOpeningFragment.JSXBracket,
.mtk15.JSXOpeningFragment.JSXBracket,
.mtk16.JSXOpeningFragment.JSXBracket,
.mtk17.JSXOpeningFragment.JSXBracket,
.mtk18.JSXOpeningFragment.JSXBracket,
.mtk19.JSXOpeningFragment.JSXBracket,
.mtk20.JSXOpeningFragment.JSXBracket,
.mtk21.JSXOpeningFragment.JSXBracket,
.mtk22.JSXOpeningFragment.JSXBracket {
  color: #787878;
  font-weight: normal;
}
